body {background-color:rgb(77, 75, 75);
    font-family:arial narrow;
    color:rgb(0, 185, 185);}
h1{color:rgb(226, 226, 226);
 font-family:arial black;}
.maindiv {background-color:rgb(122, 122, 122);
      color:black;
      width:480px;
      margin: auto;
  padding:20px;
      border-radius: 25px;
      align:center;}
table {margin-left:100px;}
